* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "tangerine", system-ui;

}

:root {
    --corPrincipal: #f8fbff;
    --corSecundaria: #95BCEA;
    --arredondamento: 10px;
    --sombra: 0 4px 4px 2px #00000025;
}

body {
    background-color: #f8fbff;
}

header {
    background-color: var(--corSecundaria);
    height: 100px;
}

.container_cabecalho {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    width: 1440px;
    margin: 0 auto;
    height: 100%;
    align-items: center;
}

.seta_cadastro {
    width: 70px;
    display: flex;
    margin-top: 23px;
}

.logo {
    margin-right: 663px;
}

.acessivel {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
}







/* CADASTRO */
.container_lista,
.container_cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_lista h2,
.container_cadastro h2 {
    font-size: 60px;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
    align-items: end;
}

.container_lista hr,
.container_cadastro hr {
    width: 300px;
    height: 4px;
    border: none;
    border-radius: 2px;
    background-color: var(--corPrincipal);
    margin-bottom: 100px;
}

.box_cadastro {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1440px;


}

.cadastro_coluna1 {
    
    width: 45%;
}

.cadastro_coluna2 {
    
    width: 45%;
}

.categoria_img {
    display: flex;
    justify-content: space-between;
}


.cadastro_coluna2,
.Produtos {
    display: flex;
    flex-direction: column;
}

.box_cadastro label {
    font-size: 55px;

}

.box_cadastro input[type="text"],
.box_cadastro textarea {
    border-radius: 10px;
    border: solid 1px #B3B3B3;
    font-size: 18px;
    padding: 0 5px;
    background-color: #dafff8;
}

.box_cadastro input[type="text"] {
    height: 40px;
    margin-bottom: 20px;
    background-color: #dafff8;
    box-shadow: 0 4px 4px 2px #00000025;
}

.input_produtos{
    width: 500px;
}

.categoria {
    width: 70%;
}

.input_categoria{
    width: 373px;
}

.box_cadastro textarea {
    resize: none;
    height: 90px;
    box-shadow: 0 4px 4px 2px #00000025;
}

.container_cadastro input[type="button"] {
    font-size: 34px;
    margin: 50px 0;
    border-radius: 10px;
    border: none;
    background-color: var(--corPrincipal);
    padding: 10px 200px;
    box-shadow: 0 4px 4px 2px #00000025;
    cursor: pointer;
    background-color: #dafff8;
}

.img {
    width: 20%;
}

.img svg {
    width: 30px;
}

input[type="file"] {
    display: none;
}

.img div {
    background-color: #dafff8;
    border-radius: 10px;
    border: solid 1px #B3B3B3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    cursor: pointer;
    box-shadow: 0 4px 4px 2px #00000025;
    flex-wrap
}






/* LISTA */
table {
    /* background-color: aquamarine; */
    width: 90%;
    max-width: 1200px;
    text-align: center;
    border-collapse: collapse;
    padding: 100px;

}

tr {
    margin-top: 100px;
}

th {
    border-bottom: solid 2px var(--corPrincipal);
    padding: 0 3px 5px 3px;
    font-size: 50px;
}

td {

    padding: 10px 4px 6px 4px;
    border-bottom: solid 2px #B3B3B350;
    font-size: 31px;
    border-radius: 90%;
}

table svg {
    width: 30px;
    cursor: pointer;
}

.secao_descrição {
    font-family: "Raleway Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}





/* RODAPE */
footer {
    width: 100%;
    height: 60px;
    background-color: #95BCEA;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-family: "tangerine", sans-serif;
    text-align: center;
    font-size: 50px;
}





/* MEDIA */
@media screen and (max-width: 768px){
    table{
        width: 98%;
        display: flex;
        flex-direction: column;
    } 
}

@media screen and (max-width: 1440px){
    .box_cadastro {
        width: 90%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .cadastro_coluna1,
    .cadastro_coluna2 {
        width: 100%;
    }

    .container_cadastro input[type="button"] {
        padding: 10px 100px;
    }

    /* LISTA */
    table {
        text-align: left;
        max-width: 460px;
    }

    thead {
        display: none;
    }

    tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        background-color: #ffffff;
        border-radius: var(--arredondamento);
        border: solid 1px var(--corPrincipal);
        box-shadow: var(--sombra);
    }

    td {
        border-bottom: none;
    }

    td::before {
        content: attr(data-cell);
        font-weight: 600;
        border-bottom: solid 2px #B3B3B350;
    }

    td:last-child {
        align-self: flex-end;
    }

}


.secao_produtos {
    background-color: #dafff8;
    border-radius: 15px;
}