* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8FBFF;
}

#sombra {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.65) 0%, rgba(149, 188, 234, 0.65) 100%);
    position: fixed;
    z-index: 2;
    backdrop-filter: blur(5px);
    /* right: -101vw; */
    right: 0;
    overflow-y: hidden;
    transition: .5s;
}

header {
    background-color: #95BCEA;
    height: 120px;
}

.container_cabecalho {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    width: 1440px;
    margin: 0 auto;
    height: 100%;
    align-items: end;
}

.icone_lupa {
    cursor: pointer;
    height: 30px;
    display: flex;
    justify-self: center;
    margin-bottom: 15px;
}

.icone_user {
    cursor: pointer;
    height: 30px;
    display: flex;
    justify-self: center;
    margin-bottom: 15px;
}

.menu {
    display: none;
}

nav a {
    font-family: "Tangerine", cursive;
    text-decoration: none;
    color: #000000;
    font-size: 30px;
}

.container_direita {
    display: flex;
    gap: 40px;

}

.container_esquerda {
    display: flex;
    gap: 40px;
}

.logo {
    width: 110px;
}

.banner {
    margin-top: 50px;
    background-image: url(./assets/image\ 2.png);
    width: 60%;
    aspect-ratio: 3.2;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    display: flex;
    justify-self: center;
}

.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 130px 0;
    /* background-color: blueviolet; */
}

.titulo span {
    font-size: 70px;
    font-family: "Tangerine", cursive;
}

.titulo hr {
    background-color: #95BCEA;
    width: 300px;
    height: 4px;
    border: none;
    border-radius: 2px;
}

.acessivel {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
}

/* CARDS */

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: center;
}

.card {
    width: 350px;
    height: 500px;
    background-color: #E6EFFA;
    border-radius: 30px;
    text-align: center;
    font-family: "Bona Nova SC", serif;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 100px;
    box-shadow: 0 4px 4px 2px #00000025;
    border: solid 2px #95BCEA;
}


.card img {
    height: 245px;
    width: 180px;
    margin-top: 30px;
}

.card p {
    font-size: 18px;
    width: 90%;
    font-family: "Raleway Dots", sans-serif;
    font-weight: 900;
    padding-bottom: 50px;
}

.card h2 {
    font-family: "Bona Nova SC", serif;
    padding-top: 30px;
}

.rimel {
    height: 143.19px;
    width: 65.57px;
    margin-top: 30px;
}



/* RODAPÉ */

footer {
    width: 100%;
    height: 100px;
    background-color: #95BCEA;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-family: "Bona Nova SC", serif;
    text-align: center;
}

/* RODAPÉ */

footer {
    width: 100%;
    height: 60px;
    background-color: #95BCEA;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-family: "Bona Nova SC", serif;
    text-align: center;
}

.redes_sociais {
    display: flex;
    justify-self: flex-end;
    position: relative;
}

@media screen and (max-width:1108px) {
    .icone_user {
        display: none;
    }

    .container_palavras {
       position: absolute;
       overflow-x: hidden;
       right: -101vw;
       padding: 20px;
       background-color: #95BCEA;
       flex-direction: column;
       z-index: 2;
    }


    .container_esquerda{
        top: 100px;
        gap: 5px;
    }
    
    .cab_col1 {
        display: flex;
        align-self: center;
    }

    .col_col3 {
        display: inline-block;
        width: 35px;
        margin-bottom: 40px;
        z-index: 2;
    }

    .menu{
        display: block;
    }
}

@media screen and (max-width: 823px) {
    .redes_sociais {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .banner {
        width: 350px;
    }
}
