* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --corBackground: #FFF6E8;
    --corPrincipal: #FFD188;
    --corFontClara: #FFFFFF;
    --corFontEscura: #000000;
    --alturaRodape: 60px;
    --fontLogo: "Julius Sans One", sans-serif;
    --fontComplementar: "Bellota", system-ui;
}

.visualmente_oculto {
    position: absolute;
    /* Retira o elemento do fluxo visual sem afetar leitores de tela */
    width: 1px;
    /* Define largura mínima para ocupar quase nada */
    height: 1px;
    /* Define altura mínima */
    overflow: hidden;
    /* Garante que nada ultrapasse o limite definido */
    clip-path: inset(50%);
    /* Recorta o conteúdo, tornando-o invisível */
    white-space: nowrap;
    /* Evita quebras de linha inesperadas */
}

.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}





/* HEADER */
header {
    background-color: var(--corPrincipal);
    height: 80px;
    display: flex;
}

.container_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icone_home {
    width: 50px;
}

.logo_header {
    height: 60px;
}

.busca {
    position: relative;
    width: 50%;
    max-width: 500px;
}

.busca svg {
    width: 26px;
    position: absolute;
    top: 5px;
    left: 10px;
}

header input {
    height: 36px;
    width: 100%;
    border-radius: 10px;
    padding-left: 40px;
}





/* MAIN CADASTRO */
.main_cadastro {
    background-color: var(--corBackground);
    font-family: var(--fontComplementar);
    padding: 100px 0;
}

.main_cadastro form {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_cadastro .container_cadastro {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: aquamarine; */
}

.main_cadastro h2 {
    text-align: center;
    font-size: 56px;

    /* border-bottom: solid 2px var(--corPrincipal);
    width: 300px;
    margin: auto; */
}

.main_cadastro hr {
    width: 300px;
    height: 2px;
    background-color: var(--corPrincipal);
    margin: auto;
    margin-bottom: 50px;
}

/* .campo{
    display: flex;
    flex-direction: column;
} */

.main_cadastro .cadastro_col1 {
    /* background-color: lightpink; */
    width: 45%;
    min-width: 330px;
}

.main_cadastro .cadastro_col2 {
    /* background-color: lightskyblue; */
    width: 45%;
    min-width: 330px;
}

.container_cadastro input {
    height: 36px;
    margin-bottom: 20px;
}

.container_cadastro label {
    font-size: 20px;
}

.linha_cat_img,
.linha_val_peso {
    display: flex;
    justify-content: space-between;
}

.campo_bolo,
.campo_categoria,
.campo_img,
.campo_valor,
.campo_peso,
.cadastro_col2 {
    display: flex;
    flex-direction: column;
}

.campo_categoria {
    width: 70%;
}

.campo_peso,
.campo_valor {
    width: 47%;
}

.campo_img {
    width: 24%;
    /* background-color: aqua; */
}

.campo_img input {
    display: none;
}

.campo_img label {
    cursor: pointer;
    width: 100%;
    /* background-color: aquamarine; */
}

.campo_img label div {
    background-color: #ffffff;
    text-align: center;
    height: 36px;
    border-radius: 10px;
    padding: 6px;
    border: solid 1px #cccccc;
}

.campo_img label svg {
    width: 22px;
}

.cadastro_col2 textarea {
    resize: none;
    height: 200px;
}

.container_cadastro input,
.cadastro_col2 textarea {
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
    font-family: var(--fontComplementar);
    border: solid 1px #cccccc;
}

.main_cadastro input[type="button"] {
    padding: 10px 100px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: var(--corPrincipal);
    font-size: 24px;
    font-family: var(--fontComplementar);
    box-shadow: 0 4px 4px 0 #00000025;
}





/* LISTA */
.container_lista {}

table {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
}

table th,
table td {
    padding: 20px 5px 3px 5px;
}

table th {
    border-bottom: solid 2px #FFD188;
    font-size: 20px;
}

table td {
    border-bottom: solid 2px #CCCCCC50;
}

table svg {
    width: 30px;
}





/* RODAPE */
footer {
    width: 100%;
    height: var(--alturaRodape);
    background-color: var(--corPrincipal);
    font-family: var(--fontLogo);
    font-size: 14px;

    line-height: var(--alturaRodape);
    text-align: center;
}





/* MEDIA */
@media screen and (max-width: 768px) {}

@media screen and (max-width: 768px) {
    .main_cadastro .container_cadastro {
        flex-direction: column;
        align-items: center;
    }

    .main_cadastro .cadastro_col1,
    .main_cadastro .cadastro_col2 {
        width: 90%;
    }

    /* TABELA */
    table {
        text-align: left;
    }

    thead {
        display: none;
    }

    tr {
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        align-items: flex-start;
        border: solid 2px #FFD188;
        border-radius: 10px;
        padding: 0 10px;
        margin-bottom: 30px;
        box-shadow: 0 4px 4px 0 #00000025;
    }

    table td {
        border-bottom: none;
        padding-top: 10px;
    }

    td:not(:last-child)::before {
        content: attr(data-cell) ": ";
        font-weight: 600;
        border-bottom: solid 2px #CCCCCC50;
    }

    td:last-child {
        align-self: flex-end;
        padding: 0;
    }
}

@media screen and (max-width: 500px) {

    .main_cadastro .cadastro_col1,
    .main_cadastro .cadastro_col2 {
        width: 100%;
    }

}